body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background-color: #3a4c66;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
section {
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  background-color: #091f40;
  color: #ffffff;
}
nav img {
  display: block;
  margin: auto;
  padding: 10px 0px;
}
h1 {
  margin: 0px;
  padding: 5px 0px;
}
#recourse-table {
  width: 70%;
  margin: 50px auto;
  padding: 20px;
  border-top: 10px solid #091f40;
  border-radius: 10px;
  background-color: #ffffff;
  color: #091f40;
}
table {
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 5px;
  border: 1px solid #091f40;
}
footer {
  margin-top: auto;
  padding: 20px 0px;
  background-color: #091f40;
  color: #ffffff;
  text-align: center;
}
